$CONFIG_DISABLE_STYLEGUIDE_SPRITES: true;
@import "archetype";
@import "archetype/theme";
//Replace

$known: styleguide-components();

@each $component in $known{
  @each $variant in styleguide_component_variants($component){
    @if $variant == "default"{
/*#{$component}*/
    }@else{
      //$index-length: 0;
      $index: 10000;
      $types: ("with", "in a", "in-", "in ", "without", "on-", "on a");

      @each $type in $types{
        $new-index: str-index($variant, $type);
        @if str-index($variant, $type) != null and $new-index < $index{
          $index: $new-index;
          //$index-length: length($type);
        }
      }
      @if str-index($variant,'-') != 1{

        $modifiers: if($index < 10000, str-slice($variant, 0, $index - 1), $variant + ' ');
        $contexts: if($index < 10000, str-slice($variant, $index), '');
        @if $index >= 10000 {
/*#{$modifiers}#{$component}*/
        }@else{
/*#{$modifiers}#{$component $contexts}*/
        }
      }
    }
  }
}